@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.poke-img{
    display: flex;
    margin-top: 70px;
} 

.container{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'BOLD';
    src: url(./Fonts/QuartzoBold-W9lv.ttf) format('truetype'); 
}

.name {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    /* font-size: 2em; */
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 255, 255), #fff, rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-family: 'BOLD';
    font-size: 500%;
    color: white;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.089);
}

@media screen and (max-width:420px) {
    .name {
        font-size: 5rem;
    }
}

    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.name-container{
    justify-content: center;
    display: flex;
}

.evolution-container{
    display: flex;
    flex-direction: column;
}

.list-evolution-container{
    margin: 0 auto;
}

.abilities{
    font-family: 'BOLD';
    font-size: 600%;
    color: white;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.actual-abilities{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

@media screen and (max-width:420px) {
    .abilities {
        font-size: 4.5rem;
    }
}

.Gameboy{
    width: 150px;
}

@media screen and (max-width:420px) {
    .Gameboy {
        width: fit-content;
    }
}

.tpye{
    font-family: 'BOLD';
    font-size: 600%;
    color: white;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.actual-type{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.Pokeball-link{
    font-family: 'BOLD';
    font-size: 20px;
    color: white;
    margin: 5px;
    text-decoration: none;
    text-shadow: 7px 7px #00000013;
}

.wdiky{
    font-family: 'BOLD';
    font-size: 600%;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center; 
    text-decoration: none;
    text-shadow: 7px 7px #00000013;   
}

.moves{
    font-family: 'BOLD';
    font-size: 600%;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.actual-moves{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.Home-link{
    font-family: 'BOLD';
    font-size: 20px;
    color: white;
    margin: 5px;
    text-decoration: none;
    text-shadow: 7px 7px #00000013;
}

.nav-links{
    display: flex;
    list-style-type: none;
    position: fixed;
    text-shadow: 7px 7px #00000013;
}

.moves-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 7px 7px #00000013;
}

.evolution{
    font-family: 'BOLD';
    font-size: 400%;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.list-evolution{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 7px 7px #00000013;
}

.evo-links{
    text-decoration: none;
    color: white;
    display: flex;
    text-shadow: 7px 7px #00000013;
}

.games{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 7px 7px #00000013;
}

.games-container{
    display: flex;
    height: 30px;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
}

.title-game{
    font-family: 'BOLD';
    font-size: 400%;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 7px 7px #00000013;
}

.stats{
    font-family: 'BOLD';
    font-size: 600%;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
    margin-bottom: 20px;
}

.actual-stats{
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px #00000013;
    font-family: 'Anton', sans-serif;;
}

.stat-name{
    padding-right: 10px;
    font-family: 'BOLD';
    font-size: 30px;
    color: white;
}